/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
 .font-playfair { font-family: 'Playfair Display', serif; }
h1,p,h2,h3,h4,h5,h6,span,a,button,label {
  font-family: playfair, serif ;
}
body{
  background-color: rgb(248, 247, 244);


}
