/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
 .font-playfair { font-family: 'Playfair Display', serif; }

/* Titles bigger, subtitles medium, Headings: modern serif or elegant font */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Body: clean sans-serif, Body readable */
body, p, span, a, button, label, input, textarea, div {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
  background-color: rgb(248, 247, 244);


}
